@import url(https://fonts.googleapis.com/css?family=Archivo+Black);

#hover-navigation {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index:10;
    background: #22313F;
    top:0px;
    text-align: center;
    display: none;
}

.menu-001 {
    position: absolute;
    width: 100%;
    text-align: center;
    top:30%;
    /*font-family: 'Archivo Black', sans-serif;*/
    font-size: 40px;
}

.menu-001 li {
    padding: 5px;
    list-style: none;
}

.menu-001 li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

.menu-001 li a .hover {
    color: #6BB9F0;
    background-color: #22313F;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    overflow-x: hidden;
    transition: all 0.5s ease;
    white-space: nowrap;
}

.menu-001 li a:hover .hover {
    width: 100%;
}
