/**
  @author : abhishek goswami
  abhishekg785
*/

html,body {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    font-family: "Gotham SSm A","Gotham SSm B",Helvetica,Arial,sans-serif;
    overflow-x: hidden;
}

.page_header {
    position: relative;
    top : 0px;
    margin:0 auto;
    width:100%;
    height : 60px;
    display: block;
    background: rgb(44, 44, 44);
}

.nav-list {
    z-index: 3;
    text-transform: uppercase;
    /*font-size: 12px;*/
    font-size: 1vw;
    font-weight: 700;
    height : 60px;
    position:absolute;
    right:15px;
}

.nav-list_item {
    display: inline-block;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    display:table-cell;
    height:60px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: white;
}

.nav-list_item:hover {
    /*background-color: white;*/
    /*color: rgb(44, 44, 44);*/
    border-bottom: 2px solid white;
}

.section {
    position:relative;
    left: 0;
    top:0;
    height: 100%;
}

.home {
    height:91%;
}

.construction-demo {
    height:300px;
    width:100%;
    position: absolute;
    bottom:0px;
    z-index : 4;
    left:-30px;
}

/* css for the canvas of the construction part*/
.contruction-canvas {
    width:700px;
    height:238px;
    display:block;
    border-top:none;
    z-index:5;
    position: absolute;
    bottom:0px;
    left:0px;
}

.titleWrapper {
    /*border: 2px solid blue;*/
    position: absolute;
    margin: 0px;
    z-index: 5;
    left:0px;
    top:0px;
    text-align: center;
    width: 100%;
    color:white;
    /*border: 2px solid black;*/
}

.heading {
    position: relative;
    margin: 0px;
    font-size: 1.5vw;
    color: white;
    padding: 0px;
    line-height: 80px;
    word-space: 4em;
    letter-spacing: 0.05em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

/*css for the contact section */
#contact-left-section {
    height:100%;
    width:30%;
    text-align: center;
    float: left;
    margin: 0px;
    background: rgb(44, 44, 44);
    /*border: 2px solid red;*/
}

#contact-right-section {
    height:100%;
    width: 70%;
    background-color: rgb(255, 87, 34);
    float: left;
    margin:0px;
    color:white;
    font-family: 'Montserrat', sans-serif;
}

.locationSVG {
    position:absolute;
    height: 100%;
    width:50%;
    /*visibility:hidden;*/
    transform:translate(-50%, 0%);
    top:0px;
    /*border: 2px solid red;*/
}

.mini-section {
    /*border-bottom: 2px solid black;*/
}

/* css for the about section start here */
.about-section {
}

#about-description {
    width: 60%;
    height:100%;
    position: absolute;
    right:0px;
    color:rgb(44, 44, 44);
}

#about-description span {
    color: rgb(255, 87, 34);;
}

#about-description h1 {
    padding: 0px;
    word-space: 4em;
    letter-spacing: 0.05em;
    font-size: 1.6vw;
    position: relative;
    width: 100%;
    top :25%;
    padding-left: 20px;
    padding-right: 5px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

#code-section {
    position: absolute;
    left: 0px;
    bottom: 0px;
    top:0px;
    height:100%;
    width:40%;
    background: rgb(44, 44, 44);;
}

#code-section h1 {
    width: 100%;
    position: absolute;
    margin: 0px;
    z-index: 2;
    font-size: 1.5vw;
    color: white;
    padding: 0px;
    line-height: 80px;
    word-space: 4em;
    letter-spacing: 0.05em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

#app-develop-section {
    height: 100%;
    position: absolute;
    top:0px;
    bottom: 0px;
    left:0px;
    width: 40%;
}

#app-develop-section .wrapper {
    position:relative;
    left:-25px;
    top:25%;
    transform: scale(0.6);
}

#app-develop-description {
    position: absolute;
    right:0px;
    height: 100%;
    width:60%;
    background-color:rgb(44, 44, 44);
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

#app-develop-description h1{
    padding: 0px;
    word-space: 4em;
    letter-spacing: 0.05em;
    font-size: 2vw;
    position: relative;
    width: 100%;
    top :40%;
    padding-left: 20px;
    padding-right: 5px;
    /*text-align: center;*/
}

#app-develop-description span {
    color: rgb(255, 87, 34);
}

#about-description a {
    text-decoration: none;
    color : rgb(255, 87, 34);
}

/* css for the sponsor section */
#sponsor-section {
    background-color:rgb(44, 44, 44);
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

#sponsor-section h1 {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* FAQ asked here */
#faq-section {
    background-color:rgb(44, 44, 44);
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

#faq-section h1 {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}