@font-face {
	font-family: roboto;
	src: url(robotolight.ttf);
}
body {
	overflow-x: hidden;
}
.container {
	background: #2C2C2C;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding: 20px;
	font-family: roboto;
	color: white;
}
.qCard {
	display: block;
	margin-top: 30px;
	background: rgb( 255, 255, 255);
	box-shadow: 0px 0px 10px 5px rgb( 10, 10, 10);
	width: 45%;
	padding: 15px;
	font-family: roboto;
	font-size: 2em;
	color: rgb( 180, 180, 180);
	text-align: left;
	height: auto;
	word-wrap: all;
	cursor: pointer;
	/*transition: all 1s ease;*/
}