.container {
	background: white;
	width: 100%;
	height: auto;
	position: absolute;
	top: 0px;
	left: 0px;
}
img {
	max-width: 20%;
	max-height: 10%;
	margin-left: 30px;
	margin-right: 30px;
}
div {
	width: 100%;
	height: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}