@import url("https://fonts.googleapis.com/css?family=Montserrat");

$blue: #5d8da8;
$blueHover: #3a5769;
$green: #45b29d;
$greenHover: #2d7365;
$red: #df5a49;
$redHover: #9e4134;
$white: #fff;
$yellow: #efc94c;
$yellowHover: #b09438;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

section {
  position: relative;
  display: inline-block;
  float: left;
  width: 50vw;
  height: 50vh;
  padding: 20px;
  transition: all 0.25s;

  &:after {
    position: absolute;
    z-index: 9;
    content: "";
    transition: all 0.25s;
  }

  &.wipe-down,
  &.wipe-up {
    &:after {
      left: 0;
      width: 100%;
      height: 0;
    }
  }

  &.wipe-left,
  &.wipe-right {
    &:after {
      top: 0;
      width: 0;
      height: 100%;
    }
  }

  &.wipe-down {
    background-color: $blue;

    &:after {
      top: 0;
      background-color: $blueHover;
    }
  }

  &.wipe-left {
    background-color: $green;

    &:after {
      right: 0;
      background-color: $greenHover;
    }
  }

  &.wipe-right {
    background-color: $yellow;

    &:after {
      left: 0;
      background-color: $yellowHover;
    }
  }

  &.wipe-up {
    background-color: $red;

    &:after {
      bottom: 0;
      background-color: $redHover;
    }
  }

  &:hover:after {
    width: 100%;
    height: 100%;
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    font-size: 18px;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
  }
}