@import url(https://fonts.googleapis.com/css?family=Archivo+Black);
body{
  background: #22313F;
}
.menu-001{
  font-family: 'Archivo Black', sans-serif;
  font-size: 40px;
  li{
    list-style:none;
    a{
      text-decoration:none;
      text-transform: uppercase;
      color: #fff;
      display:inline-block;
      position:relative;
      white-space: nowrap;
      .hover{
        color: #6BB9F0;
        background-color: #22313F;
        display:inline-block;
        position:absolute;
        top:0;
        left:0;
        width:0;
        overflow-x:hidden;
        transition:all 0.5s ease;
        white-space: nowrap;
      }
      &:hover .hover{
        width:100%;
      }
    }
  }
}